*{
  box-sizing: border-box;
}
body{
  padding-top: 100px;
  background-color: gold;
}
.signIn{
  margin-right: 0;
}
.spacingSmall{
  height: 200px;
}
.hidden{
  display: none;
}
.accountBox{
  overflow: scroll;
}
.account {
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.beer {
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.order{
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.beerOrder{
  border-radius: 5px;
  background-color: grey;
  overflow: auto;
  margin: 1%;
}
.orderForm{
    border-radius: 5px;
    padding: 3%;
    background-color: grey;
    margin-top: 2%;
}
header{
  height: 300px;
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;
  margin-top: -10%;
  padding-top: 10%;
  h2{
    font-size: 5rem;
  }
}
.aboutTapp{
  background-color: white;
    padding: 2%;
    width: 100%;
    height: 250px;
    h3{
      text-align: center;
      font-size: 4rem;
      margin-bottom: 2%;
    }
    h4{
      text-align: center;
    }
}
footer{
  width: 100%;
  height: 100px;
  text-align: center;
  h4{
    margin-top: 5%;
  }
}
.loginBox{
    display: block;
    margin: 0% auto;
    background-color: grey;
    height: 200px;
    width: 40%;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
    input{
      display: block;
      margin: 4% auto;
      width: 65%;
    }
}
.signUpBox{
    display: block;
    margin: 2% auto;
    background-color: grey;
    height: auto;
    width: 50%;
    border-radius: 25px;
    padding: 2%;
    text-align: center;
    input{
      display: block;
      margin: 4% auto;
      width: 65%;
    }
}
