body{
  padding-top: 100px;
  background-color: gold;
}
.spacingSmall{
  height: 200px;
}
.hidden{
  display: none;
}
.accountBox{
  overflow: scroll;
}
.account {
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.beer {
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.order{
  background-color: white;
  overflow: auto;
  margin-top: 5%;
}
.beerOrder{
  border-radius: 5px;
  background-color: grey;
  overflow: auto;
  margin: 1%;

}
