<h1>see all accounts</h1>

<div class="accountBox col-md-7 col-xs-12">
<div class="account">
  <h2>Account Name</h2>
  <h4>Contact Name</h4>
  <h4>Phone Number</h4>
  <h4>Address</h4>
  <h5>last order date</h5>
  <h5>avg order ammount</h5>
  <a href="#">Last Order</a>
  <a href="#">Re-Order</a>
  <a href="#">New Order</a>
</div>
</div>
<div class="newAccount col-md-4 col-xs-12">
  <h2>Create a new Account</h2>
  <form class="addAcount" action="index.html" method="post">
    <input type="text" name="accountName" value="" placeholder="Account Name">
    <input type="text" name="contact" value="" placeholder="Contact Name">
    <input type="text" name="phone" value="" placeholder="Phone Number">
    <input type="text" name="address" value="" placeholder="Address">
    <button type="submit" name="button">Submit</button>
  </form>
</div>
