<div class="loader" ng-show="loading"><img class="loading" src="images/loading.png" alt=""></div>

<h1>{{user.name}}'s accounts</h1>
<div class="searchBar col-xs-12">
  <i class='fa fa-search' aria-hidden="true"></i><input ng-model="accountSearch" type="text" name="" value="" >
</div>
<div class="accountListBox col-xs-5 ">
  <div class="topListGradient">

  </div>
    <div class="accountList listBox">
      <div class="listSpacing">

      </div>
        <div class="listItem" ng-repeat="account in myAccountsList | filter:accountSearch">
            <a ng-click="showAccountDets(account)"><h5>{{account.accountName}}</h5></a>
        </div>
        <div class="listSpacing">

        </div>
    </div>
  <div class="bottomListGradient">

  </div>
</div>

<div class="accountDetails col-xs-7 ">
    <div class="accountDetsBox">
        <h3>Account Details</h3>
        <h3>{{accountDets.accountName}}</h3>
        <div class="editable">
            <h5>Contact:</h5>
            <button ng-hide="editContact" ng-click="showContact()" type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button ng-show="editContact" ng-click="cancelEditContact()" type="button" name="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            <button ng-show="editContact" ng-click="updateInfo(contactInput,'contact')" type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <h4><span ng-hide="editContact">{{accountDets.contact}}</span></h4>
            <input ng-show="editContact" ng-model="contactInput" type="text" name="" value="">
        </div>
        <div class="editable">
            <h5>Email:</h5>
            <button ng-hide="editEmail" ng-click="showEmail()" type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button ng-show="editEmail" ng-click="cancelEditPhone()" type="button" name="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            <button ng-show="editEmail" ng-click="updateInfo(emailInput,'email')" type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <h4> <span ng-hide="editPhone"><a href="mailto:{{accountDets.email}}">{{accountDets.email}}</a></span></h4>
            <input ng-show="editEmail" ng-model='emailInput' type="text" name="" value="">
        </div>
        <div class="editable">
            <h5>Phone:</h5>
            <button ng-hide="editPhone" ng-click="showPhone()" type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button ng-show="editPhone" ng-click="cancelEditPhone()" type="button" name="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            <button ng-show="editPhone" ng-click="updateInfo(phoneInput,'phone')" type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <h4> <span ng-hide="editPhone">{{accountDets.phone}}</span></h4>
            <input ng-show="editPhone" ng-model='phoneInput' type="text" name="" value="">
        </div>
        <div class="editable">
            <h5>Address: </h5>
            <button ng-hide="editAddress" ng-click="showAddress()" type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <button ng-show="editAddress" ng-click="cancelEditAddress()" type="button" name="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
            <button ng-show="editAddress" ng-click="updateInfo(addressInput,'address')" type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
            <h4><span ng-hide="editAddress">{{accountDets.address}}</span></h4>
            <input ng-show="editAddress" ng-model='addressInput' type="text" name="" value="">
        </div>

        <h5>last order date: {{accountDets.lastOrderDate}}</h5>
        <h5>avg order ammount: ${{accountDets.avgOrderAmmnt}}</h5>
        <button ng-click='newOrder(accountDets)' type="button" name="button">New Order</button>
        <button ng-click="rmAcct(accountDets._id,accountDets.accountName)" type="button" name="button">Remove Account</button>
    </div>
</div>
<aside class="col-xs-12 col-sm-7 ">
    <div class="orderForm">


        <h4>Order Form</h4>
        <div class="orderField">
            <h6>Account: </h6>
            <h5>{{orderAcct}}</h5>
        </div>
        <div class="orderField">
            <h6>Delivery Day</h6>
            <select ng-model="deliveryDay" class="deliveryDay" name="">
                <option value="Monday">Monday</option>
                <option value="Tuesday">Tuesday</option>
                <option value="Wednesday">Wednesday</option>
                <option value="Thursday">Thursday</option>
                <option value="Friday">Friday</option>
                <option value="Saturday">Saturday</option>
                <option value="Sunday">Sunday</option>
            </select>
        </div>

        <div class="orderField">
            <h6>Beer: </h6>
            <select ng-model="selectItem" ng-options="item as item.name for item in items">
            </select>
        </div>

        <div class="orderField">
            <h6>Quantity</h6>
            <input ng-model="orderAmmnt" type="number" name="" value="">

        </div>
        <div class="orderField">
            <h6>Vessel</h6>
            <select ng-model='selectVessel' class="" name="">
                <option value="cases">Cases</option>
                <option value="sixtels">Sixtels</option>
                <option value="quarterBarrels">Quarter Barrels</option>
                <option value="halfBarrels">Half Barrels</option>
            </select>
            <h6>Cases Available: {{selectItem.qtyCases}} @ ${{selectItem.priceCases}} ea.</h6>
            <h6>Sixtels Available: {{selectItem.qtySixtels}} @ ${{selectItem.priceSixtel}} ea.</h6>
            <h6>Quarter Barrels Available: {{selectItem.qtyQB}} @ ${{selectItem.priceQB}} ea.</h6>
            <h6>Half Barrels Available: {{selectItem.qtyHalfBarrels}} @ ${{selectItem.priceHB}} ea.</h6>
            <button ng-click='addToOrderList(selectItem,orderAmmnt,selectVessel)' type="button" name="button">Add</button>

        </div>


        <div class="orderField">
            <h4>Order List</h4>

            <div class="orderBeerList" ng-repeat='beer in orderList'>
                <p>{{beer.name}} ~ {{beer.qty}} ~ {{beer.vessel}} ~ ${{beer.totalBeerPrice}} </p>
                <p>kegs: {{beer.numberOfKegs}} ~ Dep: ${{beer.kegDeposit}} ~ Total ${{beer.totalWithDeposit}}</p>
            </div>
        </div>
        <div class="placeOrder">
            <h5>Beer Total: ${{orderTotal}} </h5>
            <h5>Deposit Total: ${{orderDeposit}} </h5>
            <h5>Order Total: ${{orderTotalDeposit}} </h5>

            <button ng-click='placeOrder(orderAcct,orderList,user.username,user.distributer,deliveryDay)' type="button" name="button">Place Order</button>
        </div>
    </div>
</aside>

<div class="addAccount col-xs-12 col-sm-5 ">
    <div class="addAccountBox">
        <h3>Create a new account</h3>
        <div class="inputContainer">
            <div class="acctField">
                <h6>Account Name</h6>
                <input ng-model='accountName' type="text" name="accountName" value="">
            </div>
            <div class="acctField">
              <h6>Contact Name</h6>
                <input ng-model='contact' type="text" name="contact" value="" >
            </div>
            <div class="acctField">
              <h6>Email</h6>
                <input ng-model='email' type="text" name="email" value="" >
            </div>
            <div class="acctField">
              <h6>Phone</h6>
                <input ng-model='phone' type="text" name="phone" value="" >
            </div>
            <div class="acctField">
              <h6>Address</h6>
                <input ng-model='address' type="text" name="address" value="" >
            </div>
            <button ng-click='addAcct()' type="button" name="">Add Account</button>
        </div>
    </div>
</div>
