<h1>Inventory Checker</h1>

<div class="inventoryBox col-xs-12">
  <div class="brewery col-xs-12">
    <h1>Brewery Name</h1>
      <div class="bottles col-xs-12 col-sm-4">
        <h3>Bottles</h3>
        <div class="bottleBeer">
          <h5>Beer Beer-Type <strong>QTY Available</strong></h5>
        </div>
        <button type="button" name="add"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Bottle Beer</button>

      </div>
      <div class="sixtles col-xs-12 col-sm-4">
        <h3>Sixtels</h3>
        <div class="sixtleBeer">
          <h5>Beer Beer-Type <strong>QTY Available</strong></h5>
        </div>
        <button type="button" name="add"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Add Sixtel Beer</button>

      </div>
      <div class="halfBarrels col-xs-12 col-sm-4 ">
        <h3>Half Barrels</h3>
        <div class="halfBarrelBeer">
          <h5>Beer Beer-Type <strong>QTY Available</strong></h5>
        </div>
        <button type="button" name="add"><i class="fa fa-plus-square-o" aria-hidden="true"></i> Add Half Barrel Beer</button>

      </div>
  </div>
</div>
<!-- <aside class="addBreweryBox col-xs-12 col-md-4">
  <h3>Add a Beer!</h3>
  <form class="" action="index.html" method="post">
    <input type="text" name="brewery" value="" placeholder="Brewery">
    <input type="text" name="beer" value="" placeholder="Beer">
    <input type="number" name="QTY" value="" placeholder="0">
    <button type="submit" name="button">Submit</button>
  </form>
</aside> -->
