* {
  box-sizing: border-box; }

body {
  padding-top: 85px;
  background-color: #ffd500; }
  body h1 {
    text-align: center; }

.loader {
  width: 10%;
  position: fixed;
  z-index: 99;
  margin-left: 1%; }

.loading {
  width: 25%;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite; }

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg); } }

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg); } }

@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.col-center {
  float: none;
  margin-right: auto;
  margin-left: auto; }

.signIn {
  margin-right: 0; }

.spacingSmall {
  height: 200px; }

.hidden {
  display: none; }

.accountListBox {
  height: 400px; }
  .accountListBox .accountList {
    height: 400px;
    overflow: scroll; }

.accountDetails {
  min-height: 400px; }
  .accountDetails h3 {
    text-align: center; }

.listItem {
  background-color: white;
  overflow: auto;
  text-align: center;
  border-radius: 18px;
  box-shadow: 2px 2px 5px 1px;
  width: 80%;
  display: block;
  margin: 4% auto; }

.inventoryBox {
  height: 300px;
  overflow-y: scroll; }

.addBeerBox {
  background-color: #bfbfbf;
  margin: 2% 0 5% 0;
  box-shadow: 5px 6px 16px 1px;
  padding: 1%; }
  .addBeerBox h3 {
    text-align: center; }
  .addBeerBox button {
    display: block;
    margin: 4% auto;
    width: 30%;
    height: 45px; }

.addAccount {
  padding: 1%; }

.beer {
  background-color: white;
  overflow: auto;
  margin-top: 5%; }

.order {
  background-color: white;
  overflow: auto;
  margin-top: 5%; }

.beerOrder {
  border-radius: 5px;
  background-color: #bfbfbf;
  overflow: auto;
  margin: 1%; }

.orderForm {
  border-radius: 5px;
  padding: 3%;
  background-color: #bfbfbf;
  margin-top: 10%; }
  .orderForm h4 {
    text-align: center;
    font-size: 2rem; }

header {
  min-height: 300px;
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;
  margin-top: -10%;
  padding-top: 10%;
  padding-bottom: 5%; }
  header h2 {
    margin: 0;
    font-size: 5rem; }

.aboutTapp {
  background-color: white;
  padding: 2%;
  width: 100%;
  min-height: 250px; }
  .aboutTapp h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2%; }
  .aboutTapp h4 {
    text-align: center; }

footer {
  width: 100%;
  min-height: 100px;
  text-align: center; }
  footer h4 {
    margin-top: 5%; }

.loginBox {
  display: block;
  margin: 2% auto;
  background-color: #bfbfbf;
  min-height: 200px;
  width: 85%;
  border-radius: 25px;
  padding: 2%;
  text-align: center;
  box-shadow: 3px 3px 15px; }
  .loginBox input {
    display: block;
    margin: 4% auto;
    width: 65%; }

.signUpBox {
  display: block;
  margin: 10% auto;
  background-color: #bfbfbf;
  height: auto;
  width: 90%;
  border-radius: 25px;
  padding: 2%;
  text-align: center;
  box-shadow: 3px 3px 15px; }
  .signUpBox input {
    display: block;
    margin: 4% auto;
    width: 65%; }

.orderList {
  height: 350px; }
  .orderList .orderContainer {
    overflow-y: scroll;
    height: 250px; }
  .orderList h4 {
    height: 40px;
    text-align: center; }
  .orderList h5 {
    display: inline-block; }

.orderDetails {
  background-color: #bfbfbf;
  margin: 1% 0 10% 8%;
  border-radius: 8px;
  box-shadow: 2px 2px 6px; }
  .orderDetails h2 {
    text-align: center; }

aside {
  margin-bottom: 5%; }
  aside .placeOrder {
    border-right: 2px solid white;
    border-bottom: 2px solid white;
    width: 40%;
    margin-left: 60%;
    padding-bottom: 1%; }
    aside .placeOrder h5 {
      text-align: center; }
    aside .placeOrder button {
      margin: auto;
      display: block; }

.orderField {
  margin-bottom: 2%;
  border-left: 2px solid rgba(255, 225, 72, 0.65);
  border-top: 2px solid rgba(255, 225, 72, 0.65);
  min-height: 50px;
  padding: 1%; }
  .orderField h5 {
    display: inline-block;
    float: right;
    margin-right: 5%; }
  .orderField h6 {
    display: inline-block;
    width: 50%; }
  .orderField input {
    float: right;
    margin: 2% 1% 0 0;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey; }
  .orderField select {
    float: right;
    margin: 2% 1% 0 0;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: 1px solid grey; }
  .orderField button {
    float: right; }
  .orderField .QP {
    width: 40%;
    display: block;
    float: right; }
    .orderField .QP h6 {
      margin: 0; }
    .orderField .QP .qty {
      display: inline-block;
      text-align: center;
      float: right;
      margin-right: 35%; }
    .orderField .QP .price {
      display: inline-block;
      text-align: center;
      margin-left: 10%; }
  .orderField .inputsForAdd {
    display: block;
    width: 95%;
    margin-top: 5%; }
    .orderField .inputsForAdd input {
      display: inline-block;
      width: 20%;
      margin: -2% 0 0 1%; }

.orderBeerList {
  border-top: 2px solid white; }

.accountDetsBox {
  background-color: #ffe978;
  padding-bottom: 1%;
  border-radius: 5px; }
  .accountDetsBox h5 {
    text-align: center; }
  .accountDetsBox button {
    display: block;
    margin: 1% auto; }

.searchBar {
  min-height: 40px;
  background-color: #ffe978; }
  .searchBar input {
    margin: 2% 0 1% 1%; }

.editable {
  width: 80%;
  margin: 1% auto;
  background-color: bisque;
  padding: 1%;
  overflow-x: scroll; }
  .editable h5 {
    display: inline-block;
    margin: 0; }
  .editable button {
    float: right;
    margin: 1% 1% 0 0; }
  .editable input {
    width: 100%; }

.addAccountBox {
  background-color: #ffe978;
  padding: 2%;
  width: 90%;
  border-radius: 5px;
  margin: 10% auto; }
  .addAccountBox h3 {
    text-align: center; }
  .addAccountBox button {
    display: block;
    margin: 2% 0 2% 9%; }
  .addAccountBox .acctField {
    margin-bottom: 2%;
    border-left: 2px solid #d2cebc;
    border-top: 2px solid #d2cebc;
    min-height: 50px;
    padding: 1%; }
    .addAccountBox .acctField h6 {
      display: inline-block; }
    .addAccountBox .acctField input {
      display: inline-block;
      margin: 2% 1% 0 0;
      float: right;
      height: 30px;
      border-radius: 5px;
      border: 1px solid grey; }

.orderDetBodyItemLeft {
  width: 95%;
  margin: 2% auto;
  display: block;
  border-left: 2px solid whitesmoke;
  border-top: 2px solid whitesmoke;
  text-align: center; }

.orderDetBodyItemRight {
  display: block;
  width: 95%;
  margin: 2% auto;
  border-top: 2px solid whitesmoke;
  border-right: 2px solid whitesmoke;
  text-align: center; }

.orderDetDate {
  display: inline-block;
  width: 25%;
  text-align: center; }

.orderDetDay {
  display: inline-block;
  width: 25%;
  text-align: center; }

.orderDetAccount {
  display: inline-block;
  width: 45%;
  text-align: center; }

.fullInventoryListContainer {
  width: 100%;
  display: block;
  margin: 0% auto;
  background-color: whitesmoke; }

.listHead {
  text-align: center;
  background-color: #ffe978;
  border: 1px solid black; }

.listRow {
  border-top: 1px solid black;
  border-bottom: 1px solid black; }

.listCell {
  padding: 1px;
  text-align: center; }

.linkToFullBox {
  width: 80%;
  display: block;
  margin: 0 auto;
  background-color: #ffe978;
  text-align: center;
  height: 100px;
  border-radius: 5px; }

.totalItem {
  display: inline-block;
  width: 30%; }

.order-options {
  display: block;
  width: 90%;
  margin: 4% auto; }
  .order-options button {
    width: 49%;
    height: 50px;
    font-size: 2rem; }
