* {
  box-sizing: border-box; }

body {
  padding-top: 100px;
  background-color: gold; }
  body h1 {
    text-align: center; }

.col-center {
  float: none;
  margin-right: auto;
  margin-left: auto; }

.signIn {
  margin-right: 0; }

.spacingSmall {
  height: 200px; }

.hidden {
  display: none; }

.accountListBox {
  height: 300px; }
  .accountListBox .accountList {
    overflow: scroll; }

.accountDetails {
  min-height: 300px; }
  .accountDetails h3 {
    text-align: center; }

.listItem {
  background-color: white;
  overflow: auto;
  text-align: center;
  border-radius: 18px;
  box-shadow: 2px 2px 5px 1px;
  width: 80%;
  display: block;
  margin: 4% auto; }

.inventoryBox {
  height: 300px;
  overflow-y: scroll; }

.addBeerBox {
  background-color: grey;
  margin: 2% 0 5% 0;
  box-shadow: 5px 6px 16px 1px;
  padding: 1%; }

.addAccount {
  padding: 1%; }

.beer {
  background-color: white;
  overflow: auto;
  margin-top: 5%; }

.order {
  background-color: white;
  overflow: auto;
  margin-top: 5%; }

.beerOrder {
  border-radius: 5px;
  background-color: grey;
  overflow: auto;
  margin: 1%; }

.orderForm {
  border-radius: 5px;
  padding: 3%;
  background-color: grey;
  margin-top: 2%; }

header {
  height: 300px;
  width: 100%;
  background-color: navy;
  color: white;
  text-align: center;
  margin-top: -10%;
  padding-top: 10%; }
  header h2 {
    font-size: 5rem; }

.aboutTapp {
  background-color: white;
  padding: 2%;
  width: 100%;
  height: 250px; }
  .aboutTapp h3 {
    text-align: center;
    font-size: 4rem;
    margin-bottom: 2%; }
  .aboutTapp h4 {
    text-align: center; }

footer {
  width: 100%;
  height: 100px;
  text-align: center; }
  footer h4 {
    margin-top: 5%; }

.loginBox {
  display: block;
  margin: 0% auto;
  background-color: grey;
  height: 200px;
  width: 40%;
  border-radius: 25px;
  padding: 2%;
  text-align: center; }
  .loginBox input {
    display: block;
    margin: 4% auto;
    width: 65%; }

.signUpBox {
  display: block;
  margin: 2% auto;
  background-color: grey;
  height: auto;
  width: 50%;
  border-radius: 25px;
  padding: 2%;
  text-align: center; }
  .signUpBox input {
    display: block;
    margin: 4% auto;
    width: 65%; }

.orderList {
  height: 200px;
  border: 1px solid black; }
  .orderList .orderContainer {
    overflow-y: scroll; }
  .orderList h5 {
    display: inline-block; }

.orderDetails {
  background-color: white;
  margin: 1% 0 10% 8%;
  border-radius: 8px;
  box-shadow: 2px 2px 6px; }
