<h1>{{user.name}}'s accounts</h1>

<div class="accountBox">
<div class="account" ng-repeat="account in myAccountsList">
  <h2>{{account.accountName}}</h2>
  <h4>Contact: {{account.contact}}</h4>
  <h4>Phone Number: {{account.phone}}</h4>
  <h4>Address: {{account.address}}</h4>
  <h5>last order date: {{account.lastOrderDate}}</h5>
  <h5>avg order ammount: {{account.avgOrderAmmount}}</h5>
  <a href="#">Last Order</a>
  <a href="#">Re-Order</a>
  <a href="#">New Order</a>
</div>
</div>

<div class="addAccount">
  <h3>Create a new accout</h3>
  <div class="inputContainer">
    <form class="" method="post" action="/accounts" enctype="multipart/form-data">


    <input type="text" name="repId" value="" placeholder="Your repId">
    <input type="text" name="accountName" value="" placeholder="Account Name">
    <input type="text" name="contact" value="" placeholder="Who to Contact">
    <input type="text" name="email" value="" placeholder="Contact's email">
    <input type="text" name="phone" value="" placeholder="Contact's phone number">
    <input type="text" name="address" value="" placeholder="Address">

    <button type="submit" name="">Add Account</button>
    </form>
  </div>
</div>
