<h1>Inventory Checker</h1>

<div class="inventoryBox col-xs-12 col-md-7" ng-repeat="distributer in myInventory">
  <div class="brewery">
    <h1>{{distributer.breweries}}</h1>
      <div class="bottles">
        <h3>Bottles</h3>
        <div class="bottleBeer">
          <h5>Beer <strong>QTY</strong></h5>
        </div>
      </div>
      <div class="sixtles">
        <h3>Sixtels</h3>
        <div class="sixtleBeer">
          <h5>Beer <strong>QTY</strong></h5>
        </div>
      </div>
      <div class="halfBarrels">
        <h3>Half Barrels</h3>
        <div class="halfBarrelBeer">
          <h5>Beer <strong>QTY</strong></h5>
        </div>
      </div>
  </div>
</div>
<aside class="addBreweryBox col-xs-12 col-md-4">
  <h3>Add a Beer!</h3>
  <form class="" action="index.html" method="post">
    <input type="text" name="brewery" value="" placeholder="Brewery">
    <input type="text" name="beer" value="" placeholder="Beer">
    <input type="number" name="QTY" value="" placeholder="0">
    <button type="submit" name="button">Submit</button>
  </form>
</aside>
