<div class="loader" ng-show="loading"><img class="loading" src="images/loading.png" alt=""></div>

<h1>{{user.distributer}} Inventory Checker</h1>
<div class="searchBar col-xs-12">
  <i class='fa fa-search' aria-hidden="true"></i><input ng-model="invSearch" type="text" name="" value="" >
</div>
<div class="inventoryBox col-xs-5 ">
    <div class="listBox">


        <div class="listItem" ng-repeat="beer in myInventory | filter:invSearch ">
            <a ng-click="showBeerDets(beer)"><h5>{{beer.name}}<h5></a>

        </div>
    </div>
</div>
<div class="beerDetailsBox col-xs-7">
    <h3>{{beerDets.name}}
      <button ng-if="user.invAdmin" ng-click="showInputs()"type="button" name="button"><i class="fa fa-pencil" aria-hidden="true"></i></button>
      <button ng-show="editBeer" ng-click="cancelInputs()"type="button" name="button"><i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
</h3>

      <input ng-model="nameInput" ng-show="editBeer"type="text" name="" value="" placeholder="Name"><button ng-show="editBeer" ng-click="updateBeerInfo(nameInput, 'name')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


    <h4>Brewery: {{beerDets.brewery}} </h4><input ng-model="breweryInput"ng-show="editBeer"type="text" name="" value=""><button ng-show="editBeer" ng-click="updateBeerInfo(breweryInput, 'brewery')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
    <h4>Style: {{beerDets.beerType}}</h4><input ng-model="typeInput"ng-show="editBeer"type="text" name="" value=""><button ng-show="editBeer" ng-click="updateBeerInfo(typeInput, 'beerType')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

    <h4>Description: {{beerDets.description}}</h4><input ng-model="descriptionInput"ng-show="editBeer"type="text" name="" value=""><button ng-show="editBeer" ng-click="updateBeerInfo(descriptionInput, 'description')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>

  <h4>Available:</h4>
  <h5>Sixtels: {{beerDets.qtySixtels}} @ ${{beerDets.priceSixtel}} ea. </h5>
  <input ng-model="qtySixtelsInput"ng-show="editBeer"type="number" name="" value=""placeholder="Qty"><button ng-show="editBeer" ng-click="updateBeerInfo(qtySixtelsInput, 'qtySixtels')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <input ng-model="priceSixtelInput"ng-show="editBeer"type="number" name="" value=""placeholder="Price"><button ng-show="editBeer" ng-click="updateBeerInfo(priceSixtelInput, 'priceSixtel')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <h5> Quarter Barrels {{beerDets.qtyQB}} @ ${{beerDets.priceQB}} ea. </h5>
  <input ng-model="qtyQBInput"ng-show="editBeer"type="number" name="" value=""placeholder="Qty"><button ng-show="editBeer" ng-click="updateBeerInfo(qtyQBInput, 'qtyQB')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <input ng-model="priceQBInput"ng-show="editBeer"type="number" name="" value=""placeholder="Price"><button ng-show="editBeer" ng-click="updateBeerInfo(priceQBInput, 'priceQB')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <h5> Half Barrels {{beerDets.qtyHalfBarrels}} @ ${{beerDets.priceHB}} ea. </h5>
  <input ng-model="qtyHalfBarrelsInput"ng-show="editBeer"type="number" name="" value=""placeholder="Qty"><button ng-show="editBeer" ng-click="updateBeerInfo(qtyHalfBarrelsInput, 'qtyHalfBarrels')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <input ng-model="priceHBInput"ng-show="editBeer"type="number" name="" value=""placeholder="Price"><button ng-show="editBeer" ng-click="updateBeerInfo(priceHBInput, 'priceHB')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <h5> Cases: {{beerDets.qtyCases}} @ ${{beerDets.priceCases}} ea.</h5>
  <input ng-model="qtyCasesInput"ng-show="editBeer"type="number" name="" value=""placeholder="Qty"><button ng-show="editBeer" ng-click="updateBeerInfo(qtyCasesInput, 'qtyCases')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>
  <input ng-model="priceCasesInput"ng-show="editBeer"type="number" name="" value=""placeholder="Price"><button ng-show="editBeer" ng-click="updateBeerInfo(priceCasesInput, 'priceCases')"type="button" name="button"><i class="fa fa-floppy-o" aria-hidden="true"></i></button>


</div>
<div class="addBeerBox col-xs-12 ">
  <h3>Add a Beer!</h3>
    <div class="beerInfo">
      <div class="orderField">
        <h6>Brewery</h6>
        <input ng-model="brewery" type="text" value="" >
      </div>
      <div class="orderField">
        <h6>Beer Name</h6>
        <input ng-model="name" type="text" value="" >

      </div>
      <div class="orderField">
        <h6>Style</h6>
        <input ng-model="beerType" type="text" value="" >

      </div>
      <div class="orderField">
        <h6>Description</h6>
        <input ng-model="description" type="text" value="" >
      </div>
    </div>
    <div class="orderField">
        <div class="QP">
          <div class="qty">
            <h6>QTY</h6>
          </div>
          <div class="price">
            <h6>$</h6>
          </div>
        </div>
        <div class="inputsForAdd">
            <h6>Cases</h6>
            <input ng-model="qtyCases" type="number" value="" placeholder="0">

            <input ng-model="priceCases" type="number" name="" value="">
        </div>
        <div class="inputsForAdd">
            <h6>Sixtels</h6>
            <input ng-model="qtySixtels" type="number" value="" placeholder="0">

            <input ng-model="priceSixtel" type="number" name="" value="">
        </div>
        <div class="inputsForAdd">
            <h6>Quarter-Barrels</h6>
            <input ng-model="qtyQB" type="number" value="" placeholder="0">

            <input ng-model="priceQB" type="number" name="" value="">
        </div>
        <div class="inputsForAdd">
            <h6>Half-Barrels</h6>
            <input ng-model="qtyHalfBarrels" type="number" value="" placeholder="0">

            <input ng-model="priceHB" type="number" name="" value="">
        </div>
    </div>
    <button ng-click='addBeer()' type="button" name="button">Add Beer</button>
</div>

<!-- <div class="linkToFull">
  <a href="#/BID">BearIsland Inventory</a>
</div> -->
