
<div class="loginBox">
  <h4>please login to continue</h4>
<input ng-model="user" type="text" name="username" placeholder="username" value="">
<input ng-model="pass" type="password" name="password" placeholder="password" value="">
<button ng-click='login()' type="button" name="button">Submit</button>

<div class="newUser">
  <input type="text" name="name" value=""placeholder="username">
  <input type="text" name="name" value=""placeholder="password">
<button type="button" name="button">Create New User</button>
</div>
</div>
