<div class="loader" ng-show="loading"><img class="loading" src="images/loading.png" alt=""></div>

<div class="distOrders">
    <h1>{{user.distributer}}'s Order List</h1>
    <div class="searchBar col-xs-12">
        <i class='fa fa-search' aria-hidden="true"></i>
        <input ng-model="orderSearch" type="text" name="" value="">
    </div>

    <div class="orderList col-xs-7">
        <h4>Not Delivered Orders</h4>
        <div class="orderContainer listBox">
            <div class="listItem " ng-repeat="order in notDelivOrders | filter:orderSearch">
                <a ng-click="showDetails(order)"><h5>{{order.accountName}} {{order.orderDate}}</h5></a>
                <button ng-click='delivered(order._id)' type="button" name="button">Delivered</button>
            </div>
        </div>
    </div>

    <div class="orderList col-xs-5">
        <h4>Delivered Orders</h4>
        <div class="orderContainer listBox">
            <div class="listItem" ng-repeat="order in delivOrders | filter:orderSearch">
                <a ng-click="showDetails(order)"><h5>{{order.accountName}} {{order.orderDate}}</h5></a>
            </div>
        </div>
    </div>

    <div class="orderDetails col-xs-10">
        <div class="orderDetHeader">
            <div class="orderDetDate">
                <h6>Order Date</h6>
                <h6>{{orderDets.orderDate}}</h6>
            </div>
            <div class="orderDetAccount">
                <h5>Order Details</h5>
                <h5>{{orderDets.accountName}}</h5>
            </div>
            <div class="orderDetDay">
                <h6>Delivery Day</h6>
                <h6>{{orderDets.deliveryDate}}</h6>
            </div>
        </div>
        <div class="orderDetBody">
            <div class="orderDetBodyItemLeft">
              <h6>Rep</h6>
              <h5>{{orderDets.repName}}</h5>
            </div>
            <div class="orderDetBodyItemLeft">
              <h6>Beer List</h6>
              <div class="orderDetBeerList" ng-repeat="beer in orderDets.beers">
                <h6> {{beer.name}} ~ {{beer.qty}} ~ {{beer.vessel}} @ ${{beer.pricePerItem}} ea. = ${{beer.totalBeerPrice}}</h6>

              </div>

            </div>
            <div class="orderDetBodyItemLeft">
              <div class="totalItem">
                <h6>Beer Total</h6>
                <h5>${{orderDets.totalBeerPrice}}</h5>
              </div>
              <div class="totalItem">
                <h6>Total Kegs</h6>
                <h5>{{orderDets.totalKegs}} = ${{orderDets.totalDeposit}}</h5>
              </div>
              <div class="totalItem">
                <h6>Order Total </h6>
                <h5>${{orderDets.totalPriceWitDeposit}}</h5>
              </div>

            </div>
        </div>
        <div class="order-options">
          <button type="button" name="cancel" ng-click='cancelOrder(orderDets._id)'>Cancel</button>
          <button type="button" name="reOrder" ng-click='reOrder(orderDets)'>Re-Order</button>
        </div>
    </div>
</div>
<!-- </div distOrders>  -->
