<header>
  <h2>Streamline Communication For Your Beer Disribution Service</h2>
</header>


<section class="aboutTapp">
  <h3>What can Tapp! do for you?</h3>

  <div class="rep col-md-4">
    <h4>Reps</h4>
    <p>Reps are able to easily keep track of when clients have made orders, orders are deliverd and what the average order ammount for each account.</p>
  </div>
  <div class="admin col-md-4">
    <h4>Admins</h4>
    <p>Can easily oversee the entire process from order placement to delivery day.</p>
  </div>
  <div class="inventory col-md-4">
    <h4>Inventory Managers</h4>
    <p>When a rep places an order the inventory availability is updated automatically!</p>
  </div>
</section>
<footer>
<h4>Tapp! is currently in testing status. To help test, report bugs, or make suggestions please email rigganh@gmail.com</h4>
</footer>
